.play {
  fill: theme("colors.green.200");
  font-size: 2rem;
}

.pause {
  fill: theme("colors.red.200");
  font-size: 2rem;
}

.reset {
  fill: theme("colors.blue.200");
  font-size: 1.4rem;
  margin-left: 0.6rem;
}

.clear {
  fill: theme("colors.slate.100");
  font-size: 1.4rem;
  margin-left: 0.6rem;
}
