:root {
  --radial: radial-gradient(
    circle,
    theme("colors.slate.100") 0%,
    theme("colors.blue.300") 30%,
    theme("colors.slate.700") 30%,
    theme("colors.slate.700") 60%,
    theme("colors.blue.300") 30%,
    theme("colors.blue.100") 100%
  );
  --linear: linear-gradient(
    90deg,
    theme("colors.blue.100") 0%,
    theme("colors.blue.300") 30%,
    theme("colors.blue.300") 60%,
    theme("colors.blue.100") 100%
  );
}

.grid-node {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: theme("colors.slate.200");
  border: 0.1px solid theme("colors.slate.500");
  user-select: none;
}

.start {
  background-color: theme("colors.yellow.200");
}

.wall {
  background-color: theme("colors.gray.700");
}

.end {
  background-color: theme("colors.green.200");
}

svg {
  fill: theme("colors.gray.700");
  font-size: 1rem;
  pointer-events: none;
}

.play::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.node::after {
  animation: zoom 0.5s ease-in;
  animation-fill-mode: forwards;
  background: var(--radial);
}

/* .node::after {
  animation: shimmer-radial 1s ease-out;
  animation-fill-mode: forwards;
  background: var(--radial);
} */

.path::after {
  background-color: theme("colors.yellow.200");
}

@keyframes bubble {
  0% {
    width: 0%;
    height: 0%;
    border-radius: 10px;
    background-color: theme("colors.blue.500");
  }
  40% {
    width: 20%;
    height: 20%;
    border-radius: 50px;
    background-color: theme("colors.orange.300");
  }
  60% {
    width: 50%;
    height: 50%;
    border-radius: 100px;
    background-color: theme("colors.yellow.300");
  }
  100% {
    width: 100%;
    height: 100%;
    background-color: theme("colors.blue.400");
  }
}

@keyframes shimmer {
  0% {
    background-position: -20rem 0;
  }
  100% {
    background-position: 0 20rem;
  }
}

@keyframes zoom {
  0% {
    background-size: 0% 0%;
    background-position: center;
  }
  100% {
    background-size: 50% 50%;
    background-position: center;
  }
}
